version: '3.3'

services:
  local-mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: 'users_db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
